@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  gap: 30px;
}

.header {
  text-align: center;
}

.header h1 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

.galeria {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 10px hsl(0, 0%, 80%);
  width: 200px;
  gap: 20px;
}

.fotoPerro {
  width: 200px;
  height: 130px;
  border-radius: 10px 10px 0px 0px;
}

.nombre {
  font-weight: 800;
}

.descripcion {
  padding-left: 10px;
  padding-right: 10px;
}

.badge {
  margin-bottom: 10px;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  height: 30px;
  width: 90%;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
}

.footer {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}