@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#root {
  max-width: 100%;

}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  gap: 30px;
}


.header h1 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}

.galeria {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardx {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 25px hsl(0, 0%, 80%);
  width: 220px;
  height: 390px;
  gap: 20px;
  padding-bottom: 10px;
}

.fotoPerro {
  width: 220px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}

.nombre {
  font-weight: 800;
}

.descripcion {
  padding-left: 10px;
  padding-right: 10px;
}



.footer {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  background-color: hsl(0, 0%, 52%);
  border-radius: 0px 0px 10px 10px;
  color: hsl(0, 0%, 100%);
  padding: 20px;
}